/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
}

header, header nav div {
    background-color: rgb(4, 63, 65);
    font-weight: bold;
    text-justify: auto;
    font-size: large;
    color: rgb(192, 192, 45)
}